.mobile{
display: none;  
}
.jumbotron {
    position: relative;
    background-image:url('../img/headerWood.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

header {

}

.footer {
    position: relative;
    width: 100%;
    height: 10%;
    overflow: hidden;
    height:100px;
}

.button {
  background-image:url('../img/headerWood.jpg');
  width: 100%;
  height: 10%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button1 {
  background-image:url('../img/headerWood.jpg');
  width: 100%;
  height: 10%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
};

#holder { border: 10px dashed #ccc; width: 300px; min-height: 300px; margin: 20px auto;}
#holder.hover { border: 10px dashed #0c0; }
#holder img { display: block; margin: 10px auto; }
#holder p  margin: 10px; font-size: 14px;
progress { width: 100%; }
progress:after { content: '%'; }
.fail { background: #c00; padding: 2px; color: #fff; }
.hidden { display: none !important;}

#tag { border: 10px dashed #ccc; width: 1150px; min-height: 100px; margin: 20px auto;}
#tag.hover { border: 10px dashed #0c0; }
#tag p { margin: 10px; font-size: 14px; }
#ingredientList{
min-height: 40px;

}
#hiddeableCamera{
  height: 350px;
  width: 100%;
}
}
.holderRecipe {border: 10px dashed #ccc; width:100%; height:100%; margin: 20px auto;}
.holderRecipe.hover { border: 10px dashed #0c0; }
.holderRecipe p { font-family: 'Itim', cursive; font-size: 100%; margin: 10px; font-size: 14px; }
.holderRecipe h4 { font-family:'Berkshire Swash', cursive; font-size: 200%; }

img{
  max-width:220px;
}

iframe{
  min-height: 600px;
}

.hideOnMobileDiv{
    padding: 30px 30px 30px 30px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    width: 100%;
    height: 60vh;
}

#player{
    padding: 30px 30px 30px 30px;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    width: 70%;
    height: 40vh;
}

#capture {
  justify-content: center;
  width: 50%;
  height:0;
  padding-bottom: 50%;
  border-radius: 100%;
  overflow:hidden;
  background-image:url('../img/cameraCapture.png');
  background-size: contain;
  border: none;

}

#inputFile {
  justify-content: center;
  margin-top: 8%;
  padding: 0;
  width: 45%;
  height:0;
  padding-top: 45%;
  /*padding-bottom: -100%;*/
  border-radius: 100%;
  overflow:hidden;
  background-image:url('../img/uploadIcon.png');
  background-size: contain;
}
/*#searchRecipe {
  justify-content: center;
  margin-top: 8%;
  padding: 0;
  width: 45%;
  height:0;
  padding-top: 45%;
  border-radius: 50%;
  overflow:hidden;
  background-image:url('../img/searchIcon.png');
  background-size: contain;

}*/

#searchRecipe {
    width: 40%;
    padding: 20%;
    border-radius: 100%;
    overflow: hidden;
    background-image: url(../img/searchIcon.png);
    background-size: contain;
}

#capture:hover {
  background-image:url('../img/cameraCaptureHover.png');
}
#inputFile:hover {
  background-image:url('../img/uploadIconHover.png');
}
#searchRecipe:hover {
  background-image:url('../img/searchIconHover.png');
}
/*iphone showed a play button in the middle of the player, and the below css will remove that play button to display the pictures properly*/
*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

.addIcon{
height: 8vh; width: 8vh; object-fit: contain;
}
.getInfo{
height: 4vh; width: 4vh; object-fit: contain;
}
.addIcon:hover{
cursor: pointer;
}
.getInfo:hover{
cursor: pointer;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 2.3rem;
}

@media only screen 
and (min-device-width : 100px) 
and (max-device-width : 667px) {
.desktop{
display: none;
}
.mobile{
display: block;  
}
.hideOnMobileDiv{
padding:0;
border:none;
box-shadow:none;

}

#inputFile:hover {
  background-image:url('../img/cameraCaptureHover.png');
}
#inputFile {
    position:relative;
    text-align: center;
    justify-content: center;
    margin-top: 8%;
    padding: 0;
    width: 60%;
    height: 0;
    padding-top: 60%;
    border-radius: 100%;
    overflow: hidden;
    background-image:url('../img/cameraCapture.png');
    background-size: contain;
}
/*.hideOnMobileDiv{display: none;}*/
#capture{display: none;}
#openCamera{display: none;}
#blah{display: block;}
.mediaQuery { min-width: 100%;}
#player { min-width: 100%;height: 55vh;}
.getInfo{
height: 2vh; width: 2vh; object-fit: contain;
}
.addIcon{
height: 4vh; width: 4vh; object-fit: contain;
}
.holderRecipe p{
  font-size:30px;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 4.25rem;
    line-height: 1.5;
    border-radius: 4.3rem;
}
.col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 100%;
}
td{
    font-size: 1.75rem;
}
}
